
Lectures/.ipynb_checkpoints/1. Introduction to Python (Data Structure)-checkpoint.ipynb
Lectures/.ipynb_checkpoints/2. Control flow (Loops)-checkpoint.ipynb
Lectures/.ipynb_checkpoints/3. Functions-checkpoint.ipynb
